.identifier ul {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: .5rem;
}

.identifier li {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.identifier li p {
  cursor: not-allowed;
  letter-spacing: 1px;
  font-weight: bold;
  color: #363434;
  padding-left: .2rem;
  border-radius: .2rem;
  background-color: #fefefe;
  width: 70%;
}